{% extends 'index.html' %}
{% load staticfiles %}
{% load compress %}
{% block ng_app %}app.xavee{% endblock %}
{% block page_content %}
	<nav class="navbar" role="navigation" ng-controller="FacetbarCtrl" ng-include="TEMPLATE_BASE + '/_facetbar.html'"></nav>
	<div id="content" class="container" ng-view></div>
{% endblock %}
{% block pre_main_js %}
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-resource.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-animate.min.js"></script>
	
	{% compress js %}
	<script>window.angular || document.write('<script src="{% static 'js/vendor/angular.min.js' %}"><\/script>')</script>
	<script>try{angular.module("ngResource")}catch(err){document.write('<script src="{% static 'js/vendor/angular-resource.min.js' %}"><\/script>')}</script>
	<script>try{angular.module("ngRoute")}catch(err){document.write('<script src="{% static 'js/vendor/angular-route.min.js' %}"><\/script>')}</script>
	<script>try{angular.module("ngAnimate")}catch(err){document.write('<script src="{% static 'js/vendor/angular-animate.min.js' %}"><\/script>')}</script>
	<script src="{% static 'js/vendor/ng-infinite-scroll.min.js' %}"></script>
	<script src="{% static 'js/vendor/angular-translate.min.js' %}"></script>
	
	<script charset="UTF-8" src="{% static 'js/translations.js' %}"></script>
	<script charset="UTF-8" src="{% static 'js/constants.js' %}"></script>
	
	<script>
		// Base URLs for client-side statics.
		var IMG_BASE 		= "{% static 'img' %}";
		var TEMPLATE_BASE	= "{% static 'js/angular/templates' %}";
	</script>
	
	<script src="{% static 'js/angular/apps.js' %}"></script>
	<script src="{% static 'js/angular/directives.js' %}"></script>
	
	<script src="{% static 'js/angular/controllers/navbar.js' %}"></script>
	<script src="{% static 'js/angular/controllers/facetbar.js' %}"></script>
	<script src="{% static 'js/angular/controllers/developer.js' %}"></script>
	<script src="{% static 'js/angular/controllers/app.js' %}"></script>

	<script src="{% static 'js/angular/controllers/world-ranking.js' %}"></script>
	<script src="{% static 'js/angular/controllers/xavee-ranking.js' %}"></script>
	<script src="{% static 'js/angular/controllers/developer-ranking.js' %}"></script>
	
	<script src="{% static 'js/angular/services/api.js' %}"></script>
	<script src="{% static 'js/angular/services/appstore-id.js' %}"></script>
	<script src="{% static 'js/angular/services/ranking.js' %}"></script>
	<script src="{% static 'js/angular/services/country.js' %}"></script>
	<script src="{% static 'js/angular/services/category.js' %}"></script>
	<script src="{% static 'js/angular/services/ranking-type.js' %}"></script>
	<script src="{% static 'js/angular/services/price.js' %}"></script>
	
	<script>
		// Add the CSRF Token.
		var app = angular.module('app.xavee');
		app.config(['$httpProvider', function($httpProvider) {
		    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
		}]);
	</script>
	{% endcompress %}
{% endblock %}