{% extends '_layouts/base.html' %}
{% block head %}
        <meta http-equiv="refresh" content="5;{{referral.destination}}"/>
{% endblock %}
{% block title %} {% endblock %}
{% block content %}
        <a href={{referral.destination}}>Redirecting...</a>
        
        <script>
            var referralName        = "{{referral.name}}";
            var referralSource      = "{{referral.source}}";
            var referralMedium      = "{{referral.medium}}";
            var referralPlatform    = "{{referral.platform}}";
            var referralDestination = "{{referral.destination}}";
        </script>
        
        <div id="referralRedirect"></div>
{% endblock %}