<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>App-install</title>
        <meta name="description" content="App-install: iPhone and Android games and apps">
        <link rel="canonical" href="http://app-install.herokuapp.com/">
    </head>
    <body>
        {% if DH5BP_GA_CODE %}<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ DH5BP_GA_CODE }}');ga('send','pageview');
        </script>{% endif %}
    </body>
</html>
