/* ==========================================================================
   Project-specific styles.    
   @author Kristian Slabbekoorn
   ========================================================================== */

html {
	overflow-y: scroll;
}

body {
	/* Best-practice default fonts for Japanese websites */
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, 
	            "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-color: #FDFFFD;
}

div.container {
	width: 67%;
	overflow: visible;
}

.row-narrow-gutter {
    margin-left: -5px;
    margin-right: -5px;
}

.col-narrow-gutter {
    padding-left: 5px;
    padding-right: 5px;
}

/* ==========================================================================
   Navbar styles
   ========================================================================== */

div.navbar-default {
	border-bottom: none;
	background-color: #FDFFFD;
}

a.navbar-brand {
	font-family: Arial, sans-serif;
	color: #111 !important;
	background-color: #FDFFFD;
}

div.navbar-collapse {
	border-bottom: none;
	background-color: #FDFFFD;
}

.nav a:hover {
	color: #000 !important;
    background-color: #FDFFFD !important;
}

ul.nav li.active a {
	color: #000 !important;
	font-weight: bold;
    /* background-color: #FFF !important; */
}

/* ==========================================================================
   Page layout styles
   ========================================================================== */

/* centered columns styles */
.row-centered {
	margin-left: 40px;
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

div.content {
	padding-top: 32px;
	padding-bottom: 32px;
	
}

div.page-content {
	
}

div.page-header {
	border: none;
}

div.page-title {
	margin-bottom: 40px;
}

img.img-title {
	max-width: 150px;
}

img.img-title-big {
	min-width: 160px;
}

/* ==========================================================================
   List styles
   ========================================================================== */

div.list {
	min-height: 1000px;
}

div.list-entry {
	padding: 4px 4px 4px 4px;
	margin: 8px 0px 8px 0px;
	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(253,253,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(253,253,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdfdfd',GradientType=0 ); /* IE6-9 */
	
	border: 1px solid #EEE;
	border-radius: 10px;
}

img.list-icon {
	margin-left: 8px;
	max-width: 56px;
	border-radius: 12px;
}

/* ==========================================================================
   Ranking styles
   ========================================================================== */

a.app-title {
	text-decoration: none;
	color: #008;
}

.ranking-title {
	text-align: center;
	margin-bottom: 32px;
}

div.row-header {
	padding-left: 12px;
	font-weight: bolder;
}

div.col-rank {
	padding-top: 22px;
	padding-bottom: 4px;
	font-weight: bold;
}

div.col-icon {
	/* padding: 4px 4px 4px 4px; */
	/* width: 76px; */
}

div.col-title {
	/* padding-left: 26px; */
	padding-top: 22px;
	padding-bottom: 22px;
}

div.col-rankings {
	margin-top: 4px;
	margin-bottom: 4px;
}

div.col-country-rank {
	font-size: 11px;
	padding: 1px 1px 1px 1px;
}

div.facet-panel {
	margin-bottom: 8px;
}

div.facet {
	margin: 16px 0px 16px 0px;
}

.btn-iphone {
	font-size: 14px;
}

.btn-glyph {
	margin-bottom: 5px;
}

.btn-group {
	margin-bottom: 16px;
}

.btn-group a.active {
	background-color: #9E9;
}

div a.active {
	font-weight: bold;
}

div a:hover {
	text-decoration: none;
}

.btn-android {
	font-size: 14px;
	background-color: #999;
}

div.country-list {
	margin-bottom: 16px;
}

div.country-selection {
	margin-bottom: 2px;
	cursor: pointer;
}

a.country-link {
	cursor: pointer;
}

.btn-ranking-type {	
	font-size: 12px;
}

.col-btn {
	margin-left: 2px;
	margin-right: 2px;
}

img.img-flag {
	margin-right: 8px;
}

/* ==========================================================================
   Blog styles
   ========================================================================== */

.post-title {
	text-decoration: none;
	color: #008;
}

.post-date {
	font-size: 0.9em;
	font-family: Calibri, sans-serif;
}

.post-entry {
	padding-top: 10px;
}

.post-description {
	margin-top: 32px;
	margin-bottom: 20px;
	
}

.article {
	padding-left: 16px;
	padding-right: 16px;
}


/* ==========================================================================
   Footer styles
   ========================================================================== */

.footer {
 /* padding-top: 40px;
  	padding-bottom: 40px;
 	border-top: 1px solid #eee; */
 	
	font-size:xx-small; 
	text-align:left; 
	width:100%; 
	bottom:0px; 
	position:fixed; 
	left:0px;
	background-color:rgba(230,230,230,0);
	padding:4px; 
	padding-right:20px; 
}

p.footer-text {
	margin-bottom: -2px;
}

/* ==========================================================================
   Mobile customization
   ========================================================================== */
@media (min-width: 320px) and (max-width: 767px) {
	div.container { 
		width:100%;
	}
	
	img.list-icon {
		max-width: 48px;
	}
	
	div.col-icon {
		width: 48px;
	}
	
	div.col-title {
		padding-top: 6px;
		padding-bottom: 10px;
	}
	
	div.col-rank {
		padding-top: 6px;
	}
}

/* ==========================================================================
   Misc. styles
   ========================================================================== */

.flag {
	width: 25px;
	height: 15px;
	background:url(../img/flags.png) no-repeat
}

.flag.flag-au {background-position: -25px 0}
.flag.flag-ca {background-position: -50px 0}
.flag.flag-cn {background-position: -75px 0}
.flag.flag-de {background-position: 0 -15px}
.flag.flag-es {background-position: -25px -15px}
.flag.flag-fr {background-position: -50px -15px}
.flag.flag-gb {background-position: -75px -15px}
.flag.flag-it {background-position: 0 -30px}
.flag.flag-jp {background-position: -25px -30px}
.flag.flag-ja {background-position: -25px -30px}
.flag.flag-kr {background-position: -50px -30px}
.flag.flag-nl {background-position: -75px -30px}
.flag.flag-ru {background-position: 0 -45px}
.flag.flag-us {background-position: -25px -45px}
.flag.flag-en {background-position: -25px -45px}

.flag-small {
	width: 16px;
	height: 11px;
	background:url(../img/flags_small.png) no-repeat
}

.flag-small.flag-au {background-position: -16px 0}
.flag-small.flag-ca {background-position: -32px 0}
.flag-small.flag-cn {background-position: -48px 0}
.flag-small.flag-de {background-position: 0 -11px}
.flag-small.flag-es {background-position: -16px -11px}
.flag-small.flag-fr {background-position: -32px -11px}
.flag-small.flag-gb {background-position: -48px -11px}
.flag-small.flag-it {background-position: 0 -22px}
.flag-small.flag-jp {background-position: -16px -22px}
.flag-small.flag-kr {background-position: -32px -22px}
.flag-small.flag-nl {background-position: -48px -22px}
.flag-small.flag-ru {background-position: 0 -33px}
.flag-small.flag-us {background-position: -16px -33px}