/* ==========================================================================
   Project-specific styles.    
   @author Kristian Slabbekoorn
   ========================================================================== */

/* 
  Allow angular.js to be loaded in the body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }

/* Make sure there's always a scroll bar, to prevent layout jumps when one appears. */
html { overflow-y: scroll; }

body {
	/* Supposedly best-practice default fonts for Japanese websites.
	   Looks bad in English so don't use (maybe for Japanese version?) */
	/* font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, 
	            "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; */
	font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.container {
	width: 100%;
}

div.content {
	padding-top: 16px;
	padding-bottom: 32px;
}

/* ==========================================================================
   Generic modifiers
   ========================================================================== */

.pointer { cursor: pointer; }

/* Narrow versions of Bootstrap 3 rows/columns. Make sure to use together. */
.row-narrow-gutter { margin-left: -5px; margin-right: -5px; }
.col-narrow-gutter { padding-left: 5px; padding-right: 5px; }

/* centered columns styles */
.row-centered {
	margin-left: 40px;
    text-align: center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* For adding space between rows. */
.vspace-xs { margin-bottom: 4px;  }
.vspace-md { margin-bottom: 16px; }

.indent-none { padding-left: 0px;  }
.indent-sm   { padding-left: 8px;  }
.indent-md   { padding-left: 16px; }

.pad-xs { padding: 8px;  }
.pad-sm { padding: 16px; }
.pad-md { padding: 32px; }

.text-xs { font-size: 10px; }
.text-sm { font-size: 12px; }
.text-md { font-size: 14px; }

.shadow {
	-webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.75);
}

.shadow-list {
	-webkit-box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.75);
}

.bg-blue-gradient {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(254,253,255,1) 47%, rgba(254,253,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(254,253,255,1)), color-stop(100%,rgba(254,253,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,253,255,1) 47%,rgba(254,253,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,253,255,1) 47%,rgba(254,253,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,253,255,1) 47%,rgba(254,253,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(254,253,255,1) 47%,rgba(254,253,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fdfeff',GradientType=0 ); /* IE6-9 */
}

.fullscreen { min-height: 1400px; } /* Make sure at least a full screen is displayed to avoid jitter when loading. */
.nowrap { white-space: nowrap; overflow: hidden; } /* Disable word wrapping for text (text disappears). */

/* ==========================================================================
   Navigation bar styles
   ========================================================================== */

/* Make the navbar a little smaller. */
.navbar-nav > li > a { padding-top:13px !important; padding-bottom:13px !important; }
.navbar { min-height:40px !important; }
.navbar-brand { padding-top: 0px; padding-bottom: 0px; padding-left: 13px; }

.navbar-search {
	width: 30%;
}

.language-button {
	padding: 12px 12px 13px 12px;
}

.language-dropdown {
	padding-left: 16px;
}

.loading-large {
	font-size: 48px;
	padding: 8px;
}

.search-box {
	 padding-top: 6px;
	 padding-bottom: 6px;
}

.search-window {
	border-radius: 0px 0px 5px 5px;
	position: absolute;
	z-index: 5;
	width: 200%;
	min-height: 70px;
	background-color: #FEFEFF;
}

.hidden-spinner {
	display:block!important;
	position:absolute;
	top:-9999px;
	left:-9999px;
}

.search-window:nth-child(2) {
	/* border-radius: 10px 10px 0px 0px; */
}

.search-window:last-child {
	/* border-radius: 10px; */
	border-bottom: 0px;
	color: red;
}

.search-result {
	padding: 16px;
	border-bottom: 1px solid #000;
	
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(254,253,255,1) 47%, rgba(254,253,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(254,253,255,1)), color-stop(100%,rgba(254,253,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,253,255,1) 47%,rgba(254,253,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,253,255,1) 47%,rgba(254,253,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,253,255,1) 47%,rgba(254,253,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(254,253,255,1) 47%,rgba(254,253,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fefdff',GradientType=0 ); /* IE6-9 */
}

/* ==========================================================================
   Page layout styles
   ========================================================================== */

.description-panel-closed {
	white-space: pre-line;
	font-size: 12px;
	height: 120px;
	overflow-y: hidden;
}

.description-panel-open {
	white-space: pre-line;
	font-size: 12px;
	overflow-y: none;
}

div.page-header {
	border: none;
}

div.page-title {
	margin-bottom: 40px;
}

img.img-title {
	max-width: 150px;
}

img.img-title-big {
	min-width: 160px;
}

.img-icon {
	margin: 0 auto;
	max-height: inherit;
	min-height: 52px;
	min-width: 52px;
	border-radius: 12px;
}

/* ==========================================================================
   Ranking facet panel styles
   ========================================================================== */

.facet-panel { margin-top: 33px; }

/* ==========================================================================
   Ranking styles
   ========================================================================== */

.app-entry {
	margin-bottom: 2px;
}

.pad-app-entry {
	padding-left: 0px;
}

.ranking-date {
	padding-right: 8px;
}

.app-entry-inner {
	padding-top: 12px;
	padding-bottom: 12px;
}

a.app-title {
	text-decoration: none;
	color: #008;
}

div.row-header {
	padding-left: 12px;
	font-weight: bolder;
}

.col-rank {
	padding-left: 10px;
	font-weight: bold;
	font-size: 16px;
}

.col-icon {
	max-height: 57px;
}

.col-title {
	/* padding-left: 26px; */
	/* padding-top: 4px; */
	padding-bottom: 4px;
	font-size: 14px;
}

.img-flag-small {
	margin-bottom: 2px;
}

div.col-country-rank {
	font-size: 11px;
	padding: 1px;
}

.btn-glyph {
	margin-bottom: 5px;
}

.btn-group {
	margin-bottom: 16px;
}

.btn-group a.active {
	background-color: #9E9;
}

div a.active {
	font-weight: bold;
	color: #000000;
}

div a:hover {
	text-decoration: none;
}



/* ==========================================================================
   Blog styles
   ========================================================================== */

.post-title {
	text-decoration: none;
	color: #008;
}

.post-date {
	font-size: 0.9em;
	font-family: Calibri, sans-serif;
}

.post-entry {
	padding-top: 10px;
}

.post-description {
	margin-top: 32px;
	margin-bottom: 20px;
	
}

.article {
	padding-left: 16px;
	padding-right: 16px;
}

/* ==========================================================================
   Footer styles
   ========================================================================== */

.footer {
	font-size:xx-small;
	text-align:left;
	width:100%;
	bottom:0px;
	position:fixed; 
	left:0px;
	background-color:rgba(230,230,230,0);
	padding:4px; 
	padding-right:20px; 
}

p.footer-text {
	margin-bottom: -2px;
}

/* ==========================================================================
   Animation styles
   ========================================================================== */
 
.animate-show-hide.ng-hide-remove {
  -webkit-transition:all linear 0.2s;
  -moz-transition:all linear 0.2s;
  -o-transition:all linear 0.2s;
  transition:all linear 0.2s;
  display:block!important;
}
 
.animate-show-hide.ng-hide-add.ng-hide-add-active,
.animate-show-hide.ng-hide-remove {
	opacity:0;
}
 
.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove.ng-hide-remove-active {
	opacity:1;
}

.app-entry.ng-enter {
	-webkit-transition:all linear 0.2s;
	-moz-transition:all linear 0.2s;
	-o-transition:all linear 0.2s;
	transition:all linear 0.2s;
	opacity: 0;
}

.app-entry.ng-enter-active {
	opacity: 1;
}


/* ==========================================================================
   Mobile customization
   ========================================================================== */

/* Pad screens. */
@media(min-width:768px) and (max-width: 991px) {
	.pad-app-entry {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.facet-panel {
		padding-left: 0px;
		padding-right: 0px;
	}
}

/* Mobile phone screens. */
@media (max-width: 767px) {
	.pad-app-entry {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.facet-panel {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.img-icon {
		min-height: 40px;
		min-width: 40px;
	}
	
	.col-country-rankings {
		padding-top: 8px;
		padding-left: 8px;
	}
}

/* ==========================================================================
   Misc. styles
   ========================================================================== */

.flag {
	width: 25px;
	height: 15px;
	background:url(../img/flags.png) no-repeat
}

.flag.flag-au {background-position: -25px 0}
.flag.flag-ca {background-position: -50px 0}
.flag.flag-cn {background-position: -75px 0}
.flag.flag-de {background-position: 0 -15px}
.flag.flag-es {background-position: -25px -15px}
.flag.flag-fr {background-position: -50px -15px}
.flag.flag-gb {background-position: -75px -15px}
.flag.flag-it {background-position: 0 -30px}
.flag.flag-jp, .flag.flag-ja {background-position: -25px -30px}
.flag.flag-kr {background-position: -50px -30px}
.flag.flag-nl {background-position: -75px -30px}
.flag.flag-ru {background-position: 0 -45px}
.flag.flag-us, .flag.flag-en {background-position: -25px -45px}

.flag-small {
	width: 16px;
	height: 11px;
	background:url(../img/flags_small.png) no-repeat
}

.flag-small.flag-au {background-position: -16px 0}
.flag-small.flag-ca {background-position: -32px 0}
.flag-small.flag-cn {background-position: -48px 0}
.flag-small.flag-de {background-position: 0 -11px}
.flag-small.flag-es {background-position: -16px -11px}
.flag-small.flag-fr {background-position: -32px -11px}
.flag-small.flag-gb {background-position: -48px -11px}
.flag-small.flag-it {background-position: 0 -22px}
.flag-small.flag-jp {background-position: -16px -22px}
.flag-small.flag-kr {background-position: -32px -22px}
.flag-small.flag-nl {background-position: -48px -22px}
.flag-small.flag-ru {background-position: 0 -33px}
.flag-small.flag-us {background-position: -16px -33px}