/* ==========================================================================
   Project-specific styles. These are loaded after the H5BP styles.
   
   @author Kristian Slabbekoorn
   ========================================================================== */

a {
	text-decoration: none;
	color: #008;
}

body {
	padding-top: 40px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

div.content {
	max-width: 960px;
	width: 60%;
	padding: 2%;
	margin: 28px auto;
}

div.navbar {
	background-color: #FFF;
	/*border-radius: 24px; */
	border: none;
	max-width: 960px;
	/*width: 70%;*/
	padding-left: 2%;
	margin: auto;
}

div.page-content {
	padding: 2%;
	margin: 10px auto;
}

div.page-title {
	/*background-image: url("../../media/owl-banner.png"); */
	text-align: center;
	margin-top: -20px;
	margin-bottom: 20px;
	/*padding-bottom: 40px;
	padding-top: 64px; */
}

h1.main-title {
	
}

h3.sub-title {
	margin-top: 0
}

div.post-description {
	margin-top: 32px;
}

p.post-date {
	font-size: 0.9em;
	font-family: Calibri, sans-serif;
}

ul.post {
	list-style: none;
	padding: 0;
	margin: 0;
}
