/* ==========================================================================
   Project-specific styles. These are loaded after the H5BP styles.
   
   @author Kristian Slabbekoorn
   ========================================================================== */

a {
	text-decoration: none;
	color: #008;
}

body {
	padding: 32px 0px 32px 0px;
	background: url(/static/img/cream_dust.png) repeat 0 0;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}



div.navbar {
	background-color: inherit;
	border-radius: 10px 10px 0px 0px;
	border: none;
}

div.content {
	margin: 32px;
	/* background-color: #FFF; */
	/* max-width: 960px;
	width: 60%;
	
	margin: auto; */
	/* border-radius: 0px 0px 10px 10px; */
	/* padding: 0%; */
}

div.full-content {
	background-color: #FFF;
	max-width: 960px;
	width: 65%;
	margin: auto;
	padding: 0% 0% 2% 0%;
	-webkit-box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.5);
	border-radius: 10px;
}

div.page-content {
	/* padding: 2%; */
}

div.page-title {
	/* padding: 2%; */
	margin-bottom: 46px;
	margin-top: 46px;
}

img.img-title {
	max-width: 65%;
}

div.post-description {
	margin-top: 32px;
	margin-bottom: 20px;
}

p.post-date {
	font-size: 0.9em;
	font-family: Calibri, sans-serif;
}

ul.post {
	list-style: none;
	padding: 0;
	margin: 0;
}
