{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{% block description %}海外アプリを紹介するサービスです。その他いろいろな、海外アプリに関する情報やデータを提供しています。{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} Xavee - 海外アプリを試して見よう！ {% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/vendor/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/helpers.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/print.css' %}">
        {% endcompress %}
        {% compress js %}<script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>{% endcompress %}
        {% block head %} {% endblock %}
    </head>
    <body ng-app="{% block ng_app %}xavee.app.resource{% endblock %}" ng-controller="{% block ng_controller %}AppController{% endblock %}">
        <!--[if lt IE 8]>
            {% block outdated_message %}<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>{% endblock %}
        <![endif]-->
        {% block content %}{% endblock %}
        
        {# Detect if the CDN-hosted /bootstrap.min.css fails to load #}
        <div id="css-check" class="hidden"></div>
        
        {# Various scripts and their fallbacks #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        {% compress js %}
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"><\/script>')</script>
        <script>window.angular || document.write('<script src="{% static 'js/vendor/angular.min.js' %}"><\/script>')</script>
        <script>try{angular.module("ngResource")}catch(err){document.write('<script src="{% static 'js/vendor/angular-resource.min.js' %}"><\/script>')}</script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script>if(typeof($.fn.modal)==='undefined'){document.write('<script src="{% static 'js/vendor/bootstrap.min.js' %}"><\/script>')}</script>
        {% block pre_main_script %}{% endblock %}
        <script src="{% static 'js/main.js' %}"></script>
        {% block post_main_script %}{% endblock %}
        {% endcompress %}
        
        {# Google Analytics object #}
        {% if DH5BP_GA_CODE %}
        <script>
            (function(x,a,v,i,e,r){x.GoogleAnalyticsObject=i;x[i]||(x[i]=
            function(){(x[i].q=x[i].q||[]).push(arguments)});x[i].i=+new Date;
            e=a.createElement(v);r=a.getElementsByTagName(v)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ DH5BP_GA_CODE }}');ga('send','pageview');
        </script>
        {% endif %}
    </body>
</html>