{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{% block description %}Xavee consolidates apps from iTunes and Google Play and provides improved quality-based rankings for them.{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Xavee - App Rankings Done Right{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        {% compress css %}
        <link rel="stylesheet" type="text/css" charset="utf-8" href="{% static 'css/vendor/normalize.css' %}">
        <link rel="stylesheet" type="text/css" charset="utf-8" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" charset="utf-8" href="{% static 'css/vendor/helpers.css' %}">
        <link rel="stylesheet" type="text/css" charset="utf-8" href="{% static 'css/vendor/print.css' %}">
        {% endcompress %}
        {% compress js %}<script src="{% static 'js/vendor/modernizr.min.js' %}"></script>{% endcompress %}
        {% block head %} {% endblock %}
    </head>
    <body ng-app="{% block ng_app %}{% endblock %}">
        <!--[if lt IE 8]>
            {% block outdated_message %}<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>{% endblock %}
        <![endif]-->
        
        {% block content %}{% endblock %}
        
        {# Detect if the CDN-hosted /bootstrap.min.css fails to load #}
        <div id="css-check" class="hidden"></div>
        
        {# Load jQuery. #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery.min.js' %}"><\/script>')</script>
        
        {# Load Bootstrap. #}
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script>if(typeof($.fn.modal)==='undefined'){document.write('<script src="{% static 'js/vendor/bootstrap.min.js' %}"><\/script>')}</script>
        
        {% if ANGULAR %}
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
        
        {% compress js %}
        <script>window.angular || document.write('<script src="{% static 'js/vendor/angular.min.js' %}"><\/script>')</script>
        <script>try{angular.module("ngResource")}catch(err){document.write('<script src="{% static 'js/vendor/angular-resource.min.js' %}"><\/script>')}</script>
        <script>try{angular.module("ngRoute")}catch(err){document.write('<script src="{% static 'js/vendor/angular-route.min.js' %}"><\/script>')}</script>
        <script src="{% static 'js/vendor/ng-infinite-scroll.min.js' %}"></script>
        <script src="{% static 'js/vendor/angular-translate.min.js' %}"></script>
        <script charset="UTF-8" src="{% static 'js/translations.js' %}"></script>
        <script>
			// Base URLs for client-side statics.
			var IMG_BASE 		= "{% static 'img' %}";
			var TEMPLATE_BASE	= "{% static 'js/angular/templates' %}";
		</script>
        <script src="{% static 'js/angular/app.js' %}"></script>
        <script src="{% static 'js/angular/translation-controllers.js' %}"></script>
        <script src="{% static 'js/angular/controllers.js' %}"></script>
        <script src="{% static 'js/angular/services.js' %}"></script>
        <script>
			// Add the CSRF Token.
			var app = angular.module('xavee.app');
			app.config(['$httpProvider', function($httpProvider) {
			    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
			}]);
		</script>
		{% endcompress %}
		{% endif %}
        
        {% compress js %}
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        {% endcompress %}
        
        {# Google Analytics object #}
        {% if GA_CODE %}
        <script>
            (function(x,a,v,i,e,r){x.GoogleAnalyticsObject=i;x[i]||(x[i]=
            function(){(x[i].q=x[i].q||[]).push(arguments)});x[i].i=+new Date;
            e=a.createElement(v);r=a.getElementsByTagName(v)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{ GA_CODE }}');ga('send','pageview');
        </script>
        {% endif %}
    </body>
</html>