{% extends '__base.html' %} {% load staticfiles %} {% load navbar_tags %}
{% block content %}
<div class="container">
	
	{# Navbar code #}
	<div class="nav navbar-header navbar-default navbar-static-top" role="navigation">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url 'home' %}">Xavee</a>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li class="{% active_page request 'home' %}"><a href="{% url 'home' %}">ホーム</a></li>
			<li class="{% active_page request 'not_yet' %}"><a href="#">アプリ</a></li>
			<li class="{% active_page request 'post-list' %}"><a href="{% url 'blog:post-list' %}">記事</a></li>
			<li class="{% active_page request 'about' %}"><a href="{% url 'about' %}">アバウト</a></li>
		</ul>
	</div>
	{# End navbar code #}
	
	<div class="content">
		{% block page_header %} {% endblock %}
		{% block page_content %}
		<img class="center-block" src="{% static 'img/xavee-banner.png' %}" />
		<div class="page-header text-center">
			<h1>海外の超人気アプリを試して見よう。</h1>
			<p class="lead">Xaveeでは日本か海外で人気なアプリを検索して、ランキング比較を可能とするサイトです。</p>
		</div>
		{% endblock %}
		{% block page_footer %} {% endblock %}
	</div>
	<div class="footer">
	    {% block footer %}
		&copy; <a href="http://www.agent-solve.com">Solve Inc.</a> All Rights Reserved.
		{% endblock %}
	</div>
</div>
{% endblock %}