{% extends 'index.html' %}
{% load staticfiles %} 
{% block page_content %}
<div class="page-content" ng-controller="RankingController">
	<div class="row">
		<h1 class="ranking-title">Worldwide appstore rankings</h1>
		<div class="col-md-12 facet-panel">
			<div class="row facet">
				{% include "application/_world-facet-panel.html" %}  
			</div>
		</div>
		<div class="col-md-12 list" infinite-scroll='loadMore()' infinite-scroll-disabled="pageSize >= 200" infinite-scroll-distance='0'>
			<!-- <div class="row row-header">
				<div class="col-xs-4 col-sm-2 col-md-1">Rank</div>
				<div class="col-xs-8 col-sm-10 col-md-4">Application</div>
				<div class="col-xs-12 col-sm-12 col-md-1" style="margin-left: -12px;">Rating</div>
				<div class="col-xs-12 col-sm-12 col-md-1" style="margin-left: -12px;">World Rating</div>
				<div class="col-xs-12 col-sm-12 col-md-1" style="margin-left: -12px;">Bayesian</div>
				<div class="col-xs-12 col-sm-12 col-md-4">World ranking</div>
			</div> -->
			<div class="row list-entry" ng-repeat="app in ranking.ranking | limitTo:pageSize">
				<div class="col-xs-1 col-sm-1 col-md-1 col-rank">
					#<span ng-bind="$index+1"></span>
				</div>
				<div class="col-xs-1 col-xs-push-1 col-sm-1 col-sm-push-0 col-md-1 col-icon">
					<img class="list-icon" ng-src="{[{ app.application.img_small }]}" />
				</div>
				<div class="col-xs-7 col-xs-push-2 col-sm-10 col-sm-push-0 col-md-6 col-title">
					<a class="app-title" href="https://itunes.apple.com/{[{ ranking.country }]}/app/id{[{ app.appstore_id }]}" target="_blank" ng-click="sendID(app.application.id)" ng-bind="app.application.title"></a>
					<span class="btn btn-xs btn-glyph glyphicon glyphicon-chevron-down" ng-class="{true: 'glyphicon-chevron-up', false: 'glyphicon-chevron-down'}[details]" ng-click="details = !details"></span>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-rankings">
					<div class="col-xs-3 col-sm-2 col-md-3 col-country-rank" ng-repeat="(country, cn_rank) in app.foreign_ranking">
						<img src="{% static 'img/blank.gif' %}" class="flag-small flag-{[{ country }]}"/> : <span ng-bind="cn_rank"></span>
					</div>
				</div>
				
				<div ng-show="details">
					<div class="col-md-6 col-md-push-2 col-title">
						<a class="app-title" href="/apps/{[{ app.application.id }]}/{[{ app.application.slug }]}" ng-bind="app.application.developer.name"></a>
					</div>
					<div class="col-md-2 col-title">
						<span class="app-title" ng-bind="app.price"></span> <span class="app-title" ng-bind="app.currency"></span>
					</div>
					<div class="col-md-1 col-rank">
						<span ng-bind="app.rating.overall_rating"></span> (<span style="font-size: 11px;" ng-bind="app.rating.overall_count"></span>)
					</div>
					<div class="col-md-1 col-rank">
						<span ng-bind="app.application.itunes_world_rating"></span> (<span style="font-size: 11px;" ng-bind="app.application.itunes_world_rating_count"></span>)
					</div>
					<div class="col-md-1 col-rank">
						<span ng-bind="((50 * 2.75 + (app.application.itunes_world_rating * app.application.itunes_world_rating_count)) / (50 + app.application.itunes_world_rating_count)).toFixed(2)"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
