<div class="col-md-12">
	<p translate="COUNTRY"></p>
	<div class="row vspace-md indent-md">
		<div class="col-xs-6 col-sm-3 col-md-12 vspace-xxs" ng-repeat="country in countries">
			<img ng-src="{[{ IMG_BASE }]}/blank.gif" class="flag flag-{[{ country.code }]} vspace-xs" alt="{[{ country.name }]}" />
			<a class="pointer indent-sm" ng-click="changeCountry(country.code, $index)"
					ng-class="{ 'active' : $index == selectedCountry }" ng-bind="country.name"></a>
		</div>
	</div>
</div>

<div class="col-sm-4 col-md-12">
	<p translate="PLATFORM"></p>
	<div class="btn-group indent-md">
		<a type="button" ng-click="platformButton = 'iphone'" 
			ng-class="{ 'active' : platformButton == 'iphone' }" class="btn btn-default">iPhone</a>
		<a type="button" ng-click="platformButton = 'android'"
			ng-class="{ 'active' : platformButton == 'android' }" class="btn btn-default disabled">Android</a>
	</div>
</div>
<div class="col-sm-4 col-md-12">
	<p translate="RANKING_TYPE"></p>
	<div class="btn-group indent-md">
		<a type="button" ng-click="changeRankingType('free')" 
			ng-class="{ 'active' : rankingTypeButton == 'free' }" class="btn btn-default" translate="FREE"></a>
		<a type="button" ng-click="changeRankingType('paid')" 
			ng-class="{ 'active' : rankingTypeButton == 'paid' }" class="btn btn-default" translate="PAID"></a>
		<a type="button" ng-click="changeRankingType('grossing')" 
			ng-class="{ 'active' : rankingTypeButton == 'grossing' }" class="btn btn-default" translate="GROSSING"></a>
	</div>
</div>
<div class="col-sm-4 col-md-12">	
	<p translate="CATEGORY"></p>
		<div class="indent-md">
			<select class="form-control" ng-model="activeCategoryID"
					ng-options="c.id as c.genre for c in gameCategories" ng-change="changeCategory(activeCategoryID)"></select>
		</div>
</div>