<div class="row">
	<div class="col-md-12 text-center">
		<h1 translate="WORLD_RANKING_TITLE"></h1>
	</div>
</div>

<div class="row">
	<div class="col-md-3 facet-panel">
		<div class="bg-blue-gradient shadow">
			<div class="row pad-sm" ng-include="TEMPLATE_BASE + '/_world-facet-panel.html'"></div>
		</div>
	</div>
	
	<div class="col-md-9 fullscreen" infinite-scroll='loadMore()' infinite-scroll-disabled="pageSize >= 200" infinite-scroll-distance='0'>
		<div class="row">
			<div class="col-md-12 text-right text-muted animate-show-hide" ng-show="ranking.since">
				<h6 class="ranking-date">Last updated: <span ng-bind="ranking.since | date:'medium'"></span></h6>
			</div>
		</div>
		<ul class="list-unstyled">
			<li class="row app-entry" ng-repeat="app in ranking.ranking | limitTo:pageSize" ng-include="TEMPLATE_BASE + '/_app-entry.html'"></li>
		</ul>
	</div>
</div>
